.toolbar {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;

  button {
    padding: 0.1em 0.5em;

    &.delete-button {
      margin-left: auto;
    }
  }
}

.table-list {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-y: auto;
  height: 200px;

  .table-item {
    padding: 0.5em;
    cursor: pointer;
    font-family: monospace;

    &:last-child {
      border-bottom: none;
    }

    &.selected {
      background-color: #d8eafc;
    }

    &:hover {
      background-color: #f0f0f0;
    }

    span {
      display: block;
      width: 100%;
      cursor: pointer;
    }
  }
}
