.checkbox-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: white;
  cursor: pointer;

  .item-checkbox {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;

    &:checked + .checkbox-visual {
      background-color: white;

      &::after {
        display: block;
      }
    }

    &:focus + .checkbox-visual {
      outline: 2px solid #007bff;
      outline-offset: 2px;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  .checkbox-visual {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: white;
    pointer-events: none;

    &::after {
      content: '';
      position: absolute;
      display: none;
      left: 6px;
      top: 3px;
      width: 6px;
      height: 10px;
      border: solid black;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  &:has(.item-checkbox:disabled) {
    cursor: not-allowed;
    opacity: 0.6;

    .checkbox-visual {
      background-color: #f5f5f5;
    }
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}
